body {
  font-size: 16px;
  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #D8D8D8;
  border-radius: 0;
  border: 0;
  margin: 0;
  position: relative;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  color: #424242;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin: 0;
  line-height: .75;
}

.ourNavbar {
  position: absolute;
}

  .ourButton .btn .btn-primary {
  border-radius: 8px;
  position: relative;
  float: right;
  height: 47px;
}

#ourMenu {
  height: 25px;
  text-align: center;
  background-color: white
  color: #424242;
  text-shadow: 2px 2px 2px #222;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid black;
}

.container-fluid {
  background-color: #D8D8D8;
  clear: both;
  margin: 10px 15px 10px 15px;
}
  /* Home Page */

.col {
  text-align: center;
  height: 0px;
  vertical-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: : 0px;
  padding-bottom: 10px;
}

#ourCol {
  margin: 0px;
  padding: 0px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

